.headerM {
    overflow-x: hidden;
    padding-bottom: 40px;


}

.menuM {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-menuM {
    z-index:1;
}

.nav-itemM {
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;

    color: #000000;

    margin: 0 20px;
    z-index: 1000;
    border-bottom: 2px solid transparent;
}

.nav-itemM:hover {
    color: #FA001D;
    border-bottom: 2px solid #FA001D;
    transition: 0.5s;


}

.logo-block {
    display: flex;
    justify-content: flex-start;
}

.logo {
    width: 50px;
    height: 50px;

}

.logo1 {
    font-family: "Montserrat",sans-serif;
    font-weight: 900;
    color: #FA001D;
    margin-top: 30px;
    margin-left: -30px;
}

/*BURGER-MENU*/

.bm-burger-button {
    display: none;
    position: fixed;
    width: 36px;
    height: 30px;
    right: 18px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #000;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
    margin-top: 200px;
}

/* Individual item */
.bm-item {
    display: inline-block;
    color: #ffff;
    font-size:24px;
    margin-bottom: 20px;

}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

/*BURGER-MENU*/


@media (max-width: 768px ) {
    .nav-menuM {
        display: none;
    }

    .bm-burger-button {
        display: block;
    }
}

@media (max-width: 414px) {
    .logo-block {
        display: flex;
        flex-direction: column;
    }
    .logo1 {
        margin-top: -10px;
        margin-left: 10px;
    }

}